.app {
  font-family: 'Roboto', sans-serif;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.recipe-wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.recipe-menu {
  height: 75vh;
  width: 30vw;
  padding: 0 8px 8px 8px;
  overflow-y: auto;
}

.recipe-name {
  cursor: pointer;
}

.recipe-content {
  flex: 1;
  height: 75vh;
  overflow-y: auto;
}

.category-heading {
  font-style: italic;
  text-decoration: underline;
}
